services:
  - type: web
    name: gardening-store-app
    env: node
    plan: free
    buildCommand: npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: ATLAS__URI
        sync: false
